<!-- Main Content-->
<main class="mb-4">
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <div class="my-5">
        <%= form_with model: @article do |form| %>
          <div class="form-floating">
              <%= form.label :title %><br>
              <%= form.text_field :title, class: 'form-control' %>
              <% @article.errors.full_messages_for(:title).each do |message| %>
                <div><%= message %></div>
              <% end %>
          </div>
          <div class="form-floating">
              <%= form.label :body %><br>
              <%= form.text_area :body, class: 'form-control' %><br>
              <% @article.errors.full_messages_for(:body).each do |message| %>
                <div><%= message %></div>
              <% end %>
          </div>
          <!-- Submit Button-->
          <div>
            <%= form.submit class: "btn btn-primary text-uppercase"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</main>
